.about__section {
  padding: 1rem;
}

.about__section-container {
  display: flex;
  justify-content: space-around;
  margin: 1rem;
  padding: 1rem;
  gap: 1rem;
  border-radius: 6px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
}

.about__section-info {
  border: 2px solid red;
  font-size: var(--font-primary);
  line-height: 2rem;
  max-width: 40rem;
  padding: 1.2rem;
  margin: 3rem auto;
}
.about__section-info h3 {
  line-height: 2.4rem;
}
.about__section-image {
  border: 5px solid #645cbb;
  margin: auto;
}

.about__section-info button {
  margin: 2px;
  color: white;
  background-color: #645cbb;
  font-size: 1rem;
  padding: 10px 24px;
  border-radius: 12px;
}

.about__section-image img {
  height: 20rem;
  width: 20rem;

}

@media (max-width: 768px) {
  .about__section-container {
    flex-direction: column;
    gap: 0.5rem;
  }
  .about__section-container {
  }
}
