.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #645cbb;
  padding-inline: 3rem;
  width: 100%;
  box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.2);
}

.navbar__links {
  display: flex;
  margin-inline: auto;
}
.navbar__links li {
  list-style: none;
  color: whitesmoke;
  letter-spacing: 0.1rem;
  font-size: 1rem;
  font-weight: bold;
  padding-left: 1em;
  line-height: 1.2rem;
}

.navbar-logo img {
  height: 5rem;
}
.donate-button button {
  padding: 0.3rem 0.5rem;
  border-radius: 12px;
  font-size: 1.25rem;
}
.navbar i {
  color: white;
}

.icon-container i {
  color: white;
}

@media (max-width: 768px) {
}
