.footer {
  background: #20262e;
  color: white;
  font-size: 1rem;
  line-height: 1.8rem;
  letter-spacing: 1.2px;
  box-sizing: border-box;
}

.footer__upper {
  border: 2px solid white;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.footer-content {
  border: 2px solid red;
  max-width: 24rem;
  padding: 1rem;
  margin: 1rem;
}
.footer__contacts{
  padding-right: 1rem;
}

.footer__logo img {
  height: 10rem;
  width: 10rem;
}

@media (max-width: 768px) {
  .footer__links {
    display: none;
  }
  .footer__upper {
    flex-wrap: wrap;
  }
}
