* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --font-large: 2.4rem;
  --font-primary: 1.25rem;
  --font-medium: 1.8rem;
}
li{
  list-style: none;
}
a {
  text-decoration: none;
  color: inherit;
}

@media (max-width: 767px) {
  html {
    font-size: 75%;
  }
}
body{
background-color: whitesmoke;
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
@media (max-width: 430px) {
  html {
    font-size: 60%;
  }
}
